<!DOCTYPE html>
<html>

<head>
  <!-- Make page resize with window, and for different screen sizes. -->
  <meta content="width=device-width, initial-scale=1">
  <!-- global css. styles.css provides style settings for everything, including components embedded here. -->
  <link  href="..\styles.css">
</head>

<!-- vh is a relative measurement, as opposed to px which is pixels. 100vh is basically 100% of the screen -->
<body style="height:100vh">

  <!-- alt is name that will be displayed if it can't be loaded. ..\ means previous directory. -->
  <img src="../assets/img/logo.png" alt="Game Insider Logo" style="width:80%">

  <div>
    <!-- Splash page. just text really. might put featured article or some links or something here. -->
    <h1>Welcome to Game Insider</h1>
    <p>This is a website where we will host articles on subjects relating to gaming such as new technologies, game releases, reviews, interviews etc.</p>
    <p>By Team Yogart [Ryan, Fionn, Dean, Saleh and Sarah]</p>
  </div>

  <!-- Line divider -->
  <hr>

  <!-- Embed the article-selection component -->
  <app-article-section></app-article-section>

</body>

</html>